{% extends 'admins/base.html' %}

{% block content %}

<section class="section-conten padding-y bg" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container mt-3">
        {% include 'includes/alerts.html' %}
        <div class="row">    
        <main class="col-md-6 m-3">               
                <div class="row">        
                    <h5 class="sd ms-3 mb-3">Add coupons</h5>        
                    
                    <div class="col md-6">
                        <form action="{% url 'add_coupons' %}" method="POST" >
                            {% csrf_token %}
                          
                            <div class="form-group ">                                
                                <input type="text" name="name" class="form-control" placeholder="Coupon code" required>
                            </div>
                            <div class="form-group ">
                                
                                <input type="text" name="discount" class="form-control" placeholder="Discount" required>
                            </div>
                            <div class="form-group">
                                
                                <input type="date" name="valid_from" class="form-control" placeholder="Valid from" required>
                            </div>
                            <div class="form-group">
                                
                                <input type="date" name="valid_to" class="form-control" placeholder="Valid To" required>
                            </div>
                            <div class="form-group">
                            
                                <input type="text" name="coupon_count" class="form-control" placeholder="Stock" required>
                            </div>
                            <div class="form-group">
                                
                                <input type="text" name="minimum_amount" class="form-control" placeholder="MInium Purchase value" required>
                            </div>
                            <div class="form-group">
                                
                                <input type="text" name="maximum_discount" class="form-control" placeholder="Maxium discount" required>
                            </div>
                            <div class="form-group ml-2">
                                <label for="status">Status:</label>
                                <input type="checkbox" id="status" name="status" class="form-check-input" style="padding:10px;margin-left: 40px;">
                            </div>
                            

                            <input type="submit" value="Save" class="btn btn-primary">
                           
                        </form>
                       
                        </div>
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
         
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}