{% extends 'admins/base.html' %}

{% block content %}

<div class="container mt-3" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                {% if messages %}
                 <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    </div>
                    {% endif %}
                
               
               
            </div>
        </div>
        <table class="table table-white table-hover">
            <thead  style="background-color: rgb(173, 243, 243);">
                <tr>
                    
                    <th>Order number</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Total order</th>
                    <th>Payment</th>                   
                    <th>Status</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                
                <tr>
                    
                   
                    <td><a href="{% url 'order_details_admin' order.id %}" style="text-decoration: none;">{{ order.order_number }}</a></td>
                    <td>{{ order.full_name }}</td>
                    <td>{{ order.email }}</td>
                    <td>{{ order.order_total }}</td>
                    <td>{{ order.payment.payment_method }}</td>
                    <td>
                        {% if order.is_ordered %}
                            <h6 style="color: green;">Successfull</h6>
                        {% else %}
                            <h6 style="color: red;">Cancelled</h6>
                        {% endif %}
                    </td>

                </tr>
                
                
                {% endfor %}

                  <!-- #region <td>
                        
                        <a href="#deleteEmployeeModal-{{forloop.counter}}" class="delete btn btn-danger" data-toggle="modal">Cancel</a>
                    </td> --> 
          
               

            </tbody>
        </table>
        
    </div>
</div>
<!-- Add Modal HTML -->
<div id="addProductModal" class="modal fade" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="modal-dialog">
        <div class="modal-content">
                
            <form action="{% url 'add_products' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <div class="form-group">
                        <label>Product Name</label>
                        <input name="product_name" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Slug</label>
                        <input name="slug" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input name="price" type="text" class="form-control" required>
                    </div>		
                    <div class="form-group">
                        <label>Upload Image</label>
                        <input name="images" type="file" class="form-control-file" accept="image/*" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Stock</label>
                        <input name="stock" type="text" class="form-control" required>
                    </div>	
                    <div class="form-group">
                        <label>Is Available</label>
                        <select name="is_available" class="form-control" required>
                            <option value="1" {% if product.is_available %}selected{% endif %}>Yes</option>
                            <option value="0" {% if not product.is_available %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Category</label>
                        <select name="category"  class="form-control" required style="font-weight: 100;">
                            {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>
                                {{ category.category_name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>	
                    	
                                
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>

            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
{% for product in products %}
<div id="editProductModal-{{forloop.counter}}" class="modal fade" enctype="multipart/form-data" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'edit_products' product.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">						
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">	
                  			
                    <div class="form-group">
                        <label>Product Name</label>
                        <input name="product_name" value="{{product.product_name}}" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Slug</label>
                        <input name="slug" value="{{product.slug}}" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="description"  class="form-control" required>{{product.description}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input name="price" value="{{product.price}}" type="text" class="form-control" required>
                    </div>		
                    <div class="form-group">
                        <label>Upload Image</label>                        
                        <input name="images"  type="file" class="form-control-file" accept="image/*" >
                    </div>
                    <input type="hidden" name="current_image" value="{{product.images}}"> 
                    
                    <div class="form-group">
                        <label>Stock</label>
                        <input name="stock" value="{{product.stock}}" type="text" class="form-control" required>
                    </div>	
                    <div class="form-group">
                        <label>Is Available</label>
                        <select name="is_available" value="{{product.is_available}}" class="form-control" required>
                            <option value="1" {% if product.is_available %}selected{% endif %}>Yes</option>
                            <option value="0" {% if not product.is_available %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>Category</label>
                        <select name="category"  class="form-control" required style="font-weight: 100;">
                            {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == product.category.id %}selected{% endif %}>
                                {{ category.category_name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>	
                    	
                                
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-info" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Update">
                </div>

            </form>
        </div>
    </div>
</div>
{% endfor %}
<!-- Delete Modal HTML -->
{% for i in products %}
<div id="deleteEmployeeModal-{{forloop.counter}}" class="modal fade" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-info" data-dismiss="modal" value="Cancel">
                    <a href="{% url 'delete_products' i.id %}" type="submit" class="btn btn-danger"  >Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}




<script>
    $(document).ready(function(){
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();
        
        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function(){
            if(this.checked){
                checkbox.each(function(){
                    this.checked = true;                        
                });
            } else{
                checkbox.each(function(){
                    this.checked = false;                        
                });
            } 
        });
        checkbox.click(function(){
            if(!this.checked){
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>
{% endblock %}