{% extends 'admins/base.html' %}

{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    

    <div class="container">
        {% include 'includes/alerts.html' %}
        <div class="row">
           
        <main class="col-md-12 ">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">order number :{{order.order_number}}#</strong>
                
            </header>

            <div class="card" style=" padding:10px">
              <div class="row no-gutters" style="align-items: center;">
                <div class="col-md-4" style="font-weight: 500;font-style: oblique;border: 2px solid #f7f4f4; padding:10px"  >

                  <h6>Delivery Adress</h6>
                  <hr>

                    <p class="card-text mb-0">{{order.full_name}}</p>
                    <p class="card-text mb-0">{{order.full_adress}}</p>
                    <p class="card-text mb-0">{{order.city}},{{order.state}}</p>
                    <p class="card-text mb-0">{{order.country}}</p>
                    <p class="card-text mb-0">{{order.email}}</p>
                    <p class="card-text mb-0">{{order.phone_number}}</p>

            </div>

            <div class="col-md-6" style="height: 210px;border: 2px solid #f7f4f4; padding:10px;"  >
              <h6>More actions</h6>
              <hr>
              {% if order.is_ordered %}
              <div class="row " style="margin: 5px;">
              <a href="{% url 'generate_invoice_pdf' order.id %}" class="btn btn-outline-primary">Download invoice</a>
            </div>
            
            <div class="row" style="margin: 5px;">
              <form method="post" action="{% url 'cancel_order' order.order_number %}">
                {% csrf_token %} <!-- Include this for CSRF protection -->
              <button class="btn btn-outline-primary" type="submit">Cancel order</button>
            </form>
            </div>
            {% endif %}
            {% if order.status == 'Cancelled' %}
            <h4>Order is Cancelled</h4>
            <h6>Reason for cancellation: {{order.reason_for_cancellation}}</h6>
            {% endif %}



            


            </div>


            </div>
            </div>
            
            
                     
            </article> <!-- order-group.// --> 
        </main>
        
    </div> <!-- row.// -->
    <main class="col-md-9 ">
      <article class="card">
      <header class="card-header">
          <strong class="d-inline-block mr-3">Order items</strong>
          
      </header>
      

      
      
      {% for order_product in order_products %}

      <a href="{% url 'or_pr_detail' order_product.id %}">
      <div class="card" style="margin:10px ;">
          <div class="row no-gutters" style="align-items: center;">
            <div class="col-md-2"  >
              <img src="{{ order_product.product.images.url }}" style="padding: 10px;height: 100px; width:100px" alt="{{ order_product.product.product_name }} Image">
            </div>
            <div class="col md-2" style="text-align: left;">
              
              
             
                          
              
              
                  <p class="mb-0 ms-0" style="color: rgb(165, 160, 154);">Color: {{ order_product.variations.color }}</p>
                
              
                  <p style="color: rgb(171, 164, 156);">Size: {{ order_product.variations.size  }}</p>  

                
             
          
            </div>
            <div class="col-md-4">
              <div class="card-body">
                <h6>{{ order_product.product.product_name }}</h6>
                <p class="mb-0">Quantity: {{ order_product.quantity }}</p>
                <p>Price per unit: {{ order_product.product_price }}</p>
            </div>                  
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h6>{{ order.created_at }}</h6>
              {% if order.is_ordered %}
              <p class="mb-0">Order placed <span style="font-size: large;font-weight: bolder;">successfully</span></p>
              {% else %}
              <p>Order is <span style="font-size: large;font-weight: bolder;">cancelled</span></p>
              {% endif %}
          </div>                  
        </div>
          
        </div>
      </div>
        
      
        {% endfor %}  
      
    </a>
  

   
      </article> <!-- order-group.// --> 
  </main>
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %} 