{% load static %}
<div class="sidebar pe-4 pb-3 ps-2" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <nav class="navbar bg-light navbar-primary">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-success">Vogue Villa</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{% static 'dash/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{user.first_name}}</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="{% url 'ad_dashboard' %}" class="nav-item nav-link py-0 ">Dashboard</a>
            <hr>
            <a href="{% url 'customers' %}" class="nav-item nav-link py-0">Customers</a>
            <hr>
            <a href="{% url 'ad_products' %}" class="nav-item nav-link py-0">Products</a>
            <hr>
            <a href="{% url 'orders' %}" class="nav-item nav-link py-0">Orders</a>
            <hr>
            <a href="{% url 'ad_category' %}" class="nav-item nav-link py-0">Catagory</a>
            <hr>
            <a href="{% url 'coupons' %}" class="nav-item nav-link py-0">Coupons</a>
            <hr>
            <a href="{% url 'logout' %}"  class="btn btn-success py-0" >Logout</a>
        </div>
    </nav>
</div>
<div class="content" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-success mb-0"><i class="fa fa-hashtag"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="{% static 'dash/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">{{user.first_name}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                 <!-- #region   <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>--> 
                    <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>