{% extends 'base.html' %}

{% block content %}



<section class="section-content padding-y " >
    {% if request.GET.command == 'verification' %}

<div class="container mx-auto alert alert-info" style="text-align: center;height:60% ; max-width:720px; margin-top:50px;">

  Thank you for regestering with us,we have sent an verification link to your Email adress {{request.GET.email}}.Please verify it..

</div>

{% else %}

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    
    <div class="centre" style= "justify-content: center; display: flex;">	
        
    
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        


    <div class="card mx-auto" style="height:60% ; width: 35%; margin-top:50px;">
        <div class="card-body">
            {% include 'includes/alerts.html' %}
        <h4 class="card-title mb-4">Forgot Password</h4>
        <form action="{% url 'forgot_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
               <input type="email" class="form-control" placeholder="Email Address" name="email" >
            </div> <!-- form-group// -->
           
            
            <div class="form-group" style="text-align: center;">
                <a href="{% url 'login' %}" class="mx-auto">Got password? Login</a> 
             
            </div> <!-- form-group form-check .// -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
            </div> <!-- form-group// -->    
            <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        </form>
        </div> <!-- card-body.// -->
      </div> <!-- card .// -->
    
       
       <br><br>
    </div>	
        
      
    {% endif %}
        
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>


{% endblock %}