{% extends 'base.html' %}

{% block content %}



<section class="section-content padding-y " >


    <!-- ============================ COMPONENT REGISTER   ================================= -->
    

      
    
    <!-- ============================ COMPONENT LOGIN   ================================= -->
        


    <div class="card mx-auto" style="height:60% ; width: 30%; margin-top:50px;">
        <div class="card-body">
            {% include 'includes/alerts.html' %}
        <h4 class="card-title mb-4">Reset password</h4>
        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Create Password" name="create_password" >
            </div> <!-- form-group// -->
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" >
            </div> <!-- form-group// -->
            
          
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
            </div> <!-- form-group// -->    
            <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        </form>
        </div> <!-- card-body.// -->
      </div> <!-- card .// -->
    
       
       <br><br>
    </div>	
        
      
    
        
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>


{% endblock %}