{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y bg" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">

        {% if not wish_lists %}

        <h2 class="text-center"> Your Wishlist is empty</h2>
        <br>
        <div class="text-center">
            <a href="{% url 'store' %}" class="btn btn-info">Continue shopping</a>

        </div>
        {% else %}
    
    <!-- ============================ COMPONENT 1 ================================= -->
    
    <div class="row">
    <aside class="col-lg-9">
        <div class="card">
            <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                    <tr class="small text-uppercase">
        
                        <th scope="col-3">Product</th>      
                        <th class="text-right"></th>
                        
                    </tr>
                </thead>
            <tbody>
        {% for item in wish_lists %}
            <tr>
                    <td>
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{item.products.images.url}}" class="img-sm"></div>
                            <figcaption class="info">
                            <a href="{{item.products.get_url }}" class="title text-dark">{{item.products.product_name}}</a>
                            <p class="text-muted small">
                            Color:{{item.variation.color}}
                            </p>
                            <p class="text-muted small">
                            Size :{{item.variation.size}}                        
                            </p>
                            {% if  item.variation.offer_price %}
                            <p style="font-weight: bold;">$ {{item.variation.offer_price}} <span class="text-muted">$ <del>{{item.variation.price}}</del></span><span class="text-success">
                                {{item.products.offer.discount.discount}} % offer </span></p>
                            {% else %}
                            <p>$ {{item.variation.price}}</p>
                            {% endif %}
                        </figcaption>
                        </figure>
                       
                    </td>
                       
                   
                    <td style="padding-top: 35px;align-items: center;">
                         
                        <form action="{% url 'add_wish_list' item.products.id %} " method="get">
                                
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <div style="padding-right: 5px;">
                                <button type="submit"{% if single_product in wish_list_products %} class="btn btn-danger"
                                 {% else %} class="btn btn-light" {% endif %}>
                                
                                 <i class="fas fa-trash"></i>
                                </button>
                            </div>
                        </form>                   
                    </td>

            </tr>
            
    {% endfor %}   
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
    
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    {% endif %}
    
    </div> <!-- container .//  -->
    </section>

{% endblock %}