<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top padding-y" style="background-color: rgb(232, 245, 240);">
	<div class="container">
		<div class="row">
			<div class="col" style="justify-content: center;">
				<h3>Vogue Villa</h3>
				<h5> Social Media</h5>
				<div>
					<div class="yti " style="margin-left: 7px;padding: 3px;align-items: center;display: flex;">
						<img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="" style="height: 20px;">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/512px-Logo_of_Twitter.svg.png?20220821125553" alt="" style="height: 20px;">
						<img src="https://png.pngtree.com/png-clipart/20190613/original/pngtree-instagram-icon-logo-png-image_3560506.jpg" alt="" style="height: 20px;">

					</div>
					
				</div>
			</div>
			<div class="col">
				<h4>Shop</h4>
				<h6>Products</h6>
				<h6>Pricing</h6>
				<h6>Overflow</h6>
				<h6>Accessories</h6>
			</div>
			<div class="col">
				<h4>Company</h4>
				<h6>About us</h6>
				<h6>Contacts</h6>
				<h6>News</h6>
				<h6>Support</h6>
			</div>
			<div class="col">
				<h4>Stay Upto Date With Us</h4>
				<div class="em" style="display: flex;"><div><input type="text" placeholder="Enter your Email" name="" id="">
				</div>
				<button>Submit</button>
			</div>
				
			</div>
		</div>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
