{% extends 'base.html' %}

{% block content %}
{% load static %}




<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src="/static/images/1600w-2Mz05KTF4w0.webp" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
	
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->



	
<div class="row" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
	{% for item in products %}
	{% if item.variation_set %}
	<div class="col-md-3">
		<div class="card card-product-grid" style="align-items: center;">
			<a href="{{item.get_url}}" class="img-wrap"> <img src="{{item.images.url}}"> </a>
			<figcaption class="info-wrap">
				<a href="{{item.get_url}}" class="title">{{item.product_name}}</a>
				
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endif %}
	{% endfor %}

</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->





</body>
</html>
{% endblock %}