{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y bg" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div>
            {% if messages %}
            {% for message in messages %}
                {% if 'address-error' in message.tags %}
                    <div class="address-error">
                        <p class="alert text-danger" style="font-size: large;font-weight: 900;font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                        'Trebuchet MS', sans-serif;">{{ message }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
        <div class="row">
            <aside class="col-lg-6">                
                <div class="card">
                  
                    <div class="card-body">
                        <h4 class="card-title mb-4">Billing Address</h4>
                        
                        <form action="{% url 'place_order' %}" method="POST" id="addressForm">
                            {% csrf_token %}                            
                            <!-- Radio buttons for selecting either saved or new address -->
                           
                            <div class="form-check">
                                {% for address in saved_addresses %}
                                <input type="radio" class="form-check-input" name="selected_address" value="{{ address.id }}" id="address{{ address.id }}">
                                <label class="form-check-label" for="address{{ address.id }}">
                                    {{ address.name }} <br> {{ address.adress_line1 }} <br> {{ address.city }}
                                    <br> {{ address.state }} <br> {{ address.country }} <br> {{ address.pin }}
                                </label><br>
                                <hr>
                                {% endfor %}
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="selected_address" value="new" id="newAddress">
                                <label class="form-check-label" for="newAddress">Add a new Address</label>
                            </div>

                            <!-- Include the form fields for a new address -->
                            <div id="newAddressForm" style="display: none;">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="">First name</label>
                                        <input type="text" name="first_name" class="form-control">
                                    </div>
                                    <!-- Add the rest of the new address form fields here -->
                                    <div class="col form-group">
                                        <label for="">Last name</label>
                                        <input type="text" name="last_name" class="form-control">
                                    </div>
                                </div>
                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label for="">Email</label>
                                            <input type="email" name="email" class="form-control" >
                                        </div>
                                        <div class="col form-group">
                                            <label for="">Phone number</label>
                                            <input type="text" name="phone_number" class="form-control" >
                                        </div>
                                           
                                    </div>
                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label for="">Address line 1</label>
                                            <input type="text" name="adress_line1" class="form-control">
                                        </div>
                                        <div class="col form-group">
                                            <label for="">Address line 2</label>
                                            <input type="text" name="adress_line2" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label for="">City</label>
                                            <input type="text" name="city" class="form-control" >
                                        </div>
                                        <div class="col form-group">
                                            <label for="">State</label>
                                            <input type="text" name="state" class="form-control" >
                                        </div>
                                        <div class="col form-group">
                                            <label for="">Country</label>
                                            <input type="text" name="country" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="">Order note</label>
                                        <textarea name="order_note" id="" class="form-control" rows="2"></textarea>
                                        <div class="col form-group">
                                            <label for="">Pin</label>
                                            <input type="text" name="pin" class="form-control" >
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <!-- ... (other form fields for a new address) ... -->
                            </div>

                            <!-- Button for Place Order -->
                            <button type="submit" class="btn btn-primary btn-block mt-4">Place Order</button>
                        </form>
                    </div> <!-- card-body.// -->
            
                
            </aside> <!-- col.// -->
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">                        
                               
                            <form action="{% url 'checkout' %}" method="post">
                                {% csrf_token %}                                
                                <div class="row">
                                    {% if discount_value %}
                                    <h6 class="text-white btn btn-success m-2" >Coupon {{valid_coupon.name}} applied</h6>
                                    {%else %}
                                    <h6 style="padding-left: 10px;">You have any coupons?</h6>
                                    
                                    <div class="col-9 p-2">
                                        <input type="text" id="coupon_code" name="coupon_code" class="form-control" placeholder="Enter coupon code">
                                    </div>
                                    <div class="col-3 p-2">
                                        <button type="submit" class="btn btn-primary btn-block">Apply Coupon</button>
                                    </div>  
                                    
                                    {% endif %}
                                    {% if messages %}
                                    {% for message in messages %}
                                    {% if 'coupon' in message.tags %}

                                        
                                            <div class="address-error">
                                                <p class="alert text-danger " style="font-size: large;font-weight: 900;font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                                                'Trebuchet MS', sans-serif;">{{ message }}</p>
                                            </div>
                                            {% endif %} 
                                    {% endfor %}
                                {% endif %}                   
                                </div>

                                                                   
                            </form>
                            
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                            <tr class="small text-uppercase">
                                
                              <th scope="col">Product</th>
                              <th scope="col" width="120">Quantity</th>
                              <th scope="col" width="120">Price</th>
                              <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="{{cart_item.product.images.url}}" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="{{cart_item.product.get_url }}" class="title text-dark">{{cart_item.product.product_name}}</a>
                                            <p class="text-muted small">
                                                Color:{{cart_item.variations.color}}
                        
                                            </p>
                                            <p class="text-muted small">
                                                Size :{{cart_item.variations.size}}
                                                
                                            </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td> 
                                    <!-- col.// -->
                                                <div class="col"> 
                                                    <div class="input-group input-spinner">
                                                        <div class="input-group-prepend">
                                                        <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i></a>     
                                                        </div>
                                                        <input type="text" class="form-control"  value="{{cart_item.quantity}}">
                                                        <div class="input-group-append">
                                                            <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                                                {% csrf_token %}
                        
                                                                
                                                                <input type="hidden" name="color" value="{{cart_item.variations.color}}">
                                                                <input type="hidden" name="size" value="{{cart_item.variations.size}}">
                                                                
                                                        <button class="btn btn-light" type="submit" id="button-plus"> <i class="fa fa-plus"></i></button>
                                                            </form>
                                                        </div>
                                                    </div> <!-- input-group.// -->
                                                
                                </td>
                                <td> 
                                    <div class="price-wrap"> 
                                        <var class="price">$ {{cart_item.sub_total}}</var> 
                                        <small class="text-muted">$ {{cart_item.variations.price}} each </small> 
                                    </div> <!-- price-wrap .// -->
                                </td>
                                
                            </tr>
                            {% endfor %}   
                        </div> <!-- col.// -->
                            
                           
                            </tbody>
                        
                            </table>
                            
                            
                            
                    </div> <!-- card-body.// -->
                    
    
                        <div class="card">
                        <div class="card-body" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                            {% if original_total != total %}
                            <dl class="dlist-align text-primary" >
                              <dt>Sub total:</dt>
                              <dd class="text-right ">$ {{original_total}}</dd>
                            </dl>
                            {% endif %}
                            {% if discount_value %}
                            <dl class="dlist-align text-danger">
                                <dt>Discount from Coupon:</dt>
                                <dd class="text-right">- $ {{discount_value}}</dd>
                              </dl>
                              {% endif %}
                              {% if offer_discount %}
                              <dl class="dlist-align text-success">
                                <dt>Discount from offer:</dt>
                                <dd class="text-right">- $ {{offer_discount}}</dd>
                              </dl>
                              {% endif %}
                              <hr>
                              <dl class="dlist-align">
                              <dt>Total price:</dt>
                              <dd class="text-right">$ {{total}}</dd>
                            </dl>
                            <dl class="dlist-align">
                              <dt>Tax:</dt>
                              <dd class="text-right">${{tax}}</dd>
                            </dl>
                            <dl class="dlist-align text-primary">
                              <dt>Total:</dt>
                              <dd class="text-right text-primary b"><strong>$ {{grand_total}}</strong></dd>
                            </dl>
                            <hr>
                            
                            
                        </div> <!-- card-body.// -->
                        </div> <!-- card.// -->
                
             
                
            </aside> <!-- col.// -->
                        
        </div>
    </div> <!-- container .//  -->
</section>

<!-- JavaScript to show/hide the new address form and modify "required" attribute -->
<!-- JavaScript to show/hide the new address form and handle form submission -->
<script>
    const savedAddressRadios = document.querySelectorAll('input[name="selected_address"]');
    const newAddressForm = document.getElementById('newAddressForm');
    const addressForm = document.getElementById('addressForm');
    const newFirstNameField = document.getElementById('newFirstName'); // Adjust the ID accordingly for other fields
  
    savedAddressRadios.forEach(function (radio) {
      radio.addEventListener('change', function () {
        if (radio.value === 'new') {
          newAddressForm.style.display = 'block';
        } else {
          newAddressForm.style.display = 'none';
        }
      });
    });
  
    // Add an event listener to the form to handle submission
    addressForm.addEventListener('submit', function (event) {
      // Perform your custom validation logic here
      if (document.querySelector('input[name="selected_address"]:checked').value === 'new') {
        // Check if the new address fields are empty
        if (newFirstNameField.value.trim() === '') {
          // You can add more validation checks for other fields as needed
          alert('Please fill out all required fields for the new address.');
          event.preventDefault(); // Prevent the form from submitting
        }
      }
      // You can add more custom validation checks for other scenarios here
    });
  </script>
  
  
  
  
{% endblock %}
