{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css">

<style>
    .rate>input{
        display: none;
    }
    .rate{
        display: inline-block;
    }
    .rate>label{
        float: right;
    }
    .rate>label:before
    {
        display: inline-block;
        font-size: 1.3rem;        
        content:"\2605";
        margin: 0;
        padding: 0.3rem .2rem;
        cursor: pointer;
    }

    .rate .half:before
    {
        content: "\2605";
        padding-right: 0;
        position: absolute;
    }
    input:checked ~ label, label:hover ~ label{
        color: gold;
    }
</style>

<section class="section-content padding-y bg" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap"> 
                        <div class="img-big-wrap" style="padding: 30px;">
                            <a href="#">
                                <img src="{{ single_product.images.url }}" id="product-image" style="max-width: 100%;"
                                    onmousemove="zoomImage(event)" onmouseout="resetZoom()">
                                <div id="zoomed-image-container"
                                    style="scale:1.2;position: absolute; top: 0; left: 100%; width: 400px; height: 450px; border: 2px solid #ccc; display: none; z-index:10"></div>
                            </a>
                        </div>
                    </article>
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <form action="{% url 'add_cart' single_product.id %}" method="POST" id="product-form"> 
                            {% csrf_token %}
                            <h2 class="title mb-0">{{ single_product.product_name }}</h2>
                            <div class="mb-2 ">
                                <span class="mb-1">
                                      <i class="fa fa-star{% if single_product.averageReview == 0.5 %}-half-o{% elif single_product.averageReview < 1 %}-o {% endif %}" style="color: gold;"></i>
                                      <i class="fa fa-star{% if single_product.averageReview == 1.5 %}-half-o{% elif single_product.averageReview < 2 %}-o {% endif %}" style="color: gold;"></i>
                                      <i class="fa fa-star{% if single_product.averageReview == 2.5 %}-half-o{% elif single_product.averageReview < 3 %}-o {% endif %}" style="color: gold;"></i>
                                      <i class="fa fa-star{% if single_product.averageReview == 3.5 %}-half-o{% elif single_product.averageReview < 4 %}-o {% endif %}" style="color: gold;"></i>                              
                                      <i class="fa fa-star{% if single_product.averageReview == 4.5 %}-half-o{% elif single_product.averageReview < 5 %}-o {% endif %}" style="color: gold;"></i> 
                                    </span>
                                    {% if single_product.count %}
                                    <span class="m-1 " style="color: #8c8989;font-family: 'Times New Roman', Times, serif;
                                    font-weight: 800;font-size: medium;">{{single_product.count}} reviews</span>
                                    {% endif %}
                            </div>
                            <div class="mb-3">
                                <h6 class="mb-0" style="color: rgb(182, 21, 21);">Special price</h6>                              
                               
                                {% if single_product.offer and single_product.offer.discount.discount > 0 %}                               
                                <p class="mb-0">
                                    <span class="price h4" id="product-price">${{ variation.offer_price }}</span>
                                    <p class="mb-0">
                                    <del id="original-price">${{ variation.price }}</del>
                                    </p>

                                    <span style="font-weight: 1000; color: rgb(20, 149, 29);">{{ single_product.offer.discount.discount }}% offer</span>
                                </p>
                                
                                {% else %}
                                    <p>
                                        <span class="price h4" id="product-price">${{ variation.price }}</span>
                                    </p>
                                {% endif %}
                            </div>
                            <p>{{ single_product.description }}</p>
                            <hr>
                            <div class="row">
                                <div class="item-option-select" style="position: relative; z-index:2">
                                    <h6>Choose Color</h6>
                                    <select name="color" class="form-control" id="color-select" required onchange="updateSizeOptions()">
                                        <option value=""selected>{{color.first}}</option>
                                        {% for color in unique_color %}
                                            <option value="{{ color }}">{{ color }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select Size</h6>
                                    <div id="size-options-container">
                                        <!-- Size options will be inserted here dynamically -->
                                        <select name="size" class="form-control" id="size-select" required onchange="updatePrice()">
                                            
                                            <!-- Options for sizes will be inserted here dynamically -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {% if oos %}
                                <h4 class="oos" style="color:red">Product out of stock</h4>
                            {% else %}
                        <div style="display: flex;">
                                    <div style="padding-right: 5px;">
                                        <button type="submit" class="btn btn-primary">
                                            <span class="text">Buy now</span>
                                        </button>
                                    </div>
                                    <div style="padding-right: 5px;">
                                        <button type="button" class="btn btn-info" id="buy-now-button">
                                            <input type="hidden" name="next-1" value="1">
                                              <span class="text">Add to cart</span>
                                            <i class="fas fa-shopping-cart"></i>
                                            
                                        </button>
                                    </div>
                            {% endif %}
                            
                            </form>
                            {% if user.is_authenticated %}
                            <form action="{% url 'add_wish_list' single_product.id %} " method="get">
                                
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div style="padding-right: 5px;">
                                    <button type="submit"{% if single_product in wish_list_products %} class="btn btn-danger"
                                     {% else %} class="btn btn-light" {% endif %}>
                                    
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                            {% else %}
                            <form action="{% url 'add_wish_list' single_product.id %} " method="get">

                                
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <div style="padding-right: 5px;">
                                    
                                    <button type="submit" class="btn btn-light">
                                    
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </article>
                </main>
            </div>
        </div>
        <!-- ============================ COMPONENT 1 END .// ================================= -->
        <br>
        <div class="row">
            <div class="col-md-9">                
                <header class="section-heading">
                    <h3>Customer Reviews</h3>
                    <span class="mx-2" style="color: rgb(117, 107, 52);font-weight: 700;">{{single_product.averageReview}}</span>  {% if single_product.count %}
                    <span class="m-1" style="color: #8c8989;font-family: 'Times New Roman', Times, serif;
                    font-weight: 800;font-size: medium;">{{single_product.count}} reviews</span>
                    {% endif %}
                </header>
                <form action="{% url 'submit_review' single_product.id %}" method="post">
                    {% csrf_token %}
                    <h5 class="mb-0">Write your reviews</h5>                    
                    <div>
                        <label for="" style="position: relative;" class="mt-2 mb-0">How do you rate this product ?</label>  
                        <br>                      
                        <div class="rate m-0">
                            <input type="radio" name="rating" id="rating5" value="5" required><label for="rating5" title="5"></label>
                            <input type="radio" name="rating" id="rating4.5" value="4.5" required><label for="rating4.5" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="4" required><label for="rating4" title="4"></label>
                            <input type="radio" name="rating" id="rating3.5" value="3.5" required><label for="rating3.5" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating3" value="3" required><label for="rating3" title="3"></label>
                            <input type="radio" name="rating" id="rating2.5" value="2.5" required><label for="rating2.5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="2" required><label for="rating2" title="2"></label>
                            <input type="radio" name="rating" id="rating1.5" value="1.5" required><label for="rating1.5" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating1" value="1" required><label for="rating1" title="1"></label>
                            <input type="radio" name="rating" id="rating0.5" value="0.5" required><label for="rating0.5" title="0.5" class="half"></label>
                        </div>
                        <br>
                        Review Title                      
                        
                        <input type="text" class="form-control" name="subject">
                        <br>
                        Review
                        <textarea name="review" class="form-control" rows="4"></textarea>
                        <br>
                        {% if user.is_authenticated %}
                            {% if order_products %}
                                <input type="submit" value="Submit Review" class="btn btn-primary">
                            {% else %}                        
                                <p>You must purchase this product to post a review </p>
                            {% endif %}
                        {% else %}                        
                            <p>Please login to post reviews <span><a href="{% url 'login' %}">Login</a></span></p>
                        {% endif %}
                    </div>

                </form>
                {% if messages %}
                {% for message in messages %}
                {% if 'review' in message.tags %}

                    
                        <div class="address-error">
                            <p class="alert text-success " style="font-size: large;font-weight: 900;font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                            'Trebuchet MS', sans-serif;">{{ message }}</p>
                        </div>
                        {% endif %} 
                {% endfor %}
            {% endif %}    
                {% for review in reviews %}
                <article class="box mt-3 mb-3">
                    <div class="icontext w-100">                       
                        <div class="text">
                            <span class="date text-muted float-md-right">{{review.created_at}}</span>
                            <h6 class="mb-1">{{review.user.first_name}} {{review.user.last_name}}</h6>
                        </div>
                    </div>
                    <div>
                        <span><i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" style="color: gold;"></i>
                              <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" style="color: gold;"></i>
                              <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" style="color: gold;"></i>
                              <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" style="color: gold;"></i>                              
                              <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" style="color: gold;"></i> 
                            </span>
                    </div>               
                    
                    <div class="mt-3">
                        
                        <p>
                         {{review.review}}
                        </p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script>
    // JavaScript for zoom effect
    function zoomImage(event) {
        const productImage = document.getElementById("product-image");
        const zoomedImageContainer = document.getElementById("zoomed-image-container");

        // Calculate the position of the cursor within the original image
        const x = event.offsetX / productImage.clientWidth;
        const y = event.offsetY / productImage.clientHeight;

        // Calculate the background position for the zoomed container
        const bgX = (x * 100) + "%";
        const bgY = (y * 100) + "%";

        // Set the background position and show the zoomed container
        zoomedImageContainer.style.backgroundImage = `url('{{ single_product.images.url }}')`;
        zoomedImageContainer.style.backgroundPosition = `${bgX} ${bgY}`;
        zoomedImageContainer.style.display = "block";
    }

    function resetZoom() {
        const zoomedImageContainer = document.getElementById("zoomed-image-container");

        // Hide the zoomed container on mouseout
        zoomedImageContainer.style.display = "none";
    }
</script>

<script>
    const sizesByColor = JSON.parse('{{ sizesByColor|safe }}');

    function updateSizeOptions() {
        const colorSelect = document.getElementById('color-select');
        const sizeSelect = document.getElementById('size-select');
        const selectedColor = colorSelect.value;
        

        // Fetch the available sizes for the selected color from your JavaScript object
        const sizesForColor = sizesByColor[selectedColor] || [];

        // Create HTML for size options
        const sizeOptionsHTML = sizesForColor.map(size => `<option value="${size}">${size}</option>`).join('');

        // Update the size options container with the new options
        sizeSelect.innerHTML = sizeOptionsHTML;

        // Update the onchange attribute of size-select to call updatePrice
        sizeSelect.setAttribute('onchange', 'updatePrice()');

        // Reset the displayed price when the color or size changes
        updatePrice(); // Add this line to update the price when options change
    }

    function updatePrice() {
        const colorSelect = document.getElementById('color-select');
        const sizeSelect = document.getElementById('size-select');
        const selectedColor = colorSelect.value;
        const selectedSize = sizeSelect.value;
    
        // Make an AJAX request to get the price and offer price based on color and size
        fetch(`/store/get_variation_price/?product_id={{ single_product.id }}&color=${selectedColor}&size=${selectedSize}`)
            .then(response => response.json())
            .then(data => {
                const priceElement = document.getElementById('product-price');
                const originalPriceElement = document.getElementById('original-price');
                const offerInfoElement = document.getElementById('offer-info');
    
                if (data.offer_price) {
                    // Display offer price
                    priceElement.innerHTML = `$${data.offer_price.toFixed(2)}`;
                    originalPriceElement.textContent = `$${data.price.toFixed(2)}`;
                    originalPriceElement.style.display = 'block'; // Show the <del> element
                   
                } else {
                    // Display only regular price
                    priceElement.textContent = `$${data.price.toFixed(2)}`;
                    originalPriceElement.style.display = 'none'; // Hide the <del> element
                   
                }
            })
            .catch(error => {
                console.error('Error fetching price:', error);
            });
    }
     // Set the default selected options for color and size
     window.addEventListener('DOMContentLoaded', function () {
        const colorSelect = document.getElementById('color-select');
        const sizeSelect = document.getElementById('size-select');


        // Set the first option as the default selected option for both color and size
        colorSelect.selectedIndex = 1;
        sizeSelect.selectedIndex = 0;

        // Call updateSizeOptions to update the size options based on the default selected color
        updateSizeOptions();
    });
        </script>
        <script>
            document.getElementById('buy-now-button').addEventListener('click', function () {
                // Set the 'next' input value to the current URL (request.path) when the button is clicked.
                document.querySelector('input[name="next-1"]').value = window.location.pathname;
                // Submit the form.
                document.getElementById('product-form').submit();
            });
        </script>
        
{% endblock %}
