{% extends 'base.html' %}

{% load static %}

{% block content %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css">
<style>
    a {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    
</style>


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    {% if 'search' in request.path %}

    <div class="container" style="height: 30px; ">
        <h4 class="text-center">Search results...</h4>
    </div>
    
     {% else %}
    <div class="container d-none d-md-block" style="height: 300px; background-image: url(https://c4.wallpaperflare.com/wallpaper/234/873/314/model-women-wallpaper-preview.jpg);">
        
    
    </div> <!-- container //  -->
    {% endif %}  
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    <div class="container">
        
    
    <div class="row">
        <aside class="col-md-3">
            
            <div class="card">
                <article class="filter-group">
                    <header class="card-header" style="margin-left: 20px;">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Categories</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1">
                        <div class="card-body">
                            <form method="GET" action="{% url 'filter_products' %}">
                                <div style="margin-left: 15px;">
                              
                                {% for category in links %}
                                    <label class="checkbox-btn">
                                        <input type="checkbox" name="category" value="{{ category.id }}"                                        
                                        {% if category.id|stringformat:"d" in filters.category %}
                                        checked{% endif %}>
                                        <span class="btn btn-light">{{ category.category_name }}</span>
                                    </label>
                              
                                {% endfor %}
                                
                            </div>
                                <!-- Rest of your category checkboxes -->
            
                                <!-- Sizes -->
                                <header class="card-header">
                                    <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                                        <i class="icon-control fa fa-chevron-down"></i>
                                        <h6 class="title">Sizes</h6>
                                    </a>
                                </header>
                                <div class="filter-content collapse show" id="collapse_4">
                                    <div class="card-body">
                                        {% for size in chart %}
                                        <label class="checkbox-btn">
                                            <input type="checkbox" name="size" value="{{ size.id }}"{% if size.id|stringformat:"d" in filters.size %}
                                            checked{% endif %}>
                                            <span class="btn btn-light">{{ size }}</span>
                                        </label>
                                        
                                        {% endfor %}
            
                                       
                                    </div><!-- card-body.// -->
                                </div>
            
                                <!-- Price Range -->
                                <header class="card-header">
                                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                                        <i class="icon-control fa fa-chevron-down"></i>
                                        <h6 class="title">Price range</h6>
                                    </a>
                                </header>
                                <div class="filter-content collapse show" id="collapse_3">
                                    <div class="card-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="min_price">Min Price</label>
                                               
                                                <input type="range" class="form-control-range" id="min_price" name="min_price" 
                                                min="0" max="200" {% if filters.min_price > 0 %}
                                                value="{{ filters.min_price }}"
                                            {% else %}
                                                value="0"
                                            {% endif %}
                                            >          
                                                <span class="range-value" id="min_price_value">$0</span>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="max_price">Max Price</label>
                                                <input type="range" class="form-control-range" id="max_price" name="max_price" min="0" max="200"
                                                {% if filters.max_price > 0 %}
                                                value="{{ filters.max_price }}"
                                            {% else %}
                                                value="0"
                                            {% endif %}>
                                                <span class="range-value" id="max_price_value">$100</span>
                                            </div>
                                            
                                            
                                        </div> <!-- form-row.// -->
                                        <button type="submit" class="btn btn-block btn-primary">Apply Filters</button>                                        
                                        <a href="{% url 'store' %}" class="btn btn-block btn-outline-primary">Clear selection</a>
                                    </div><!-- card-body.// -->
                                </div>
            
                               
                            </form>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <!-- Rest of your filtering options (e.g., colors) -->
            </div> <!-- card.// -->
            <script>
                // Get references to the range sliders and range values
                const minPriceSlider = document.getElementById("min_price");
                const maxPriceSlider = document.getElementById("max_price");
                const minPriceValue = document.getElementById("min_price_value");
                const maxPriceValue = document.getElementById("max_price_value");
            
                // Initialize the range values based on filters or defaults
                const minPrice = "{{ filters.min_price|default:0 }}";
                const maxPrice = "{{ filters.max_price|default:200 }}";
            
                minPriceValue.textContent = "$" + minPrice;
                maxPriceValue.textContent = "$" + maxPrice;
            
                // Update the range values based on slider positions
                minPriceSlider.addEventListener("input", function () {
                    const newMinPrice = this.value;
                    const newMaxPrice = parseInt(maxPriceSlider.value);
            
                    minPriceValue.textContent = "$" + newMinPrice;
                    maxPriceSlider.min = newMinPrice;
            
                    if (newMaxPrice < newMinPrice) {
                        maxPriceSlider.value = newMinPrice;
                        maxPriceValue.textContent = "$" + newMinPrice;
                    }
                });
            
                maxPriceSlider.addEventListener("input", function () {
                    const newMaxPrice = this.value;
                    const newMinPrice = parseInt(minPriceSlider.value);
            
                    maxPriceValue.textContent = "$" + newMaxPrice;
                    minPriceSlider.max = newMaxPrice;
            
                    if (newMinPrice > newMaxPrice) {
                        minPriceSlider.value = newMaxPrice;
                        minPriceValue.textContent = "$" + newMaxPrice;
                    }
                });
            </script>
            
            
        </aside> <!-- col.// -->
        
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b>{{product_count}}</b> Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    {% if not filters %}
    <div class="row">
            
            {% for item in products %}
            {% if item.variation_set.exists %}
            <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
            <figure class="card card-product-grid">
                <div class="img-wrap" style="position: relative;">
                    <a href="{{ item.get_url }}"><img src="{{ item.images.url }}"></a>
                    {% if user.is_authenticated %}
                    <form action="{% url 'add_wish_list' item.id %} " method="get">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div style="position: absolute; top: 0; left: 0; padding: 5px;">
                            <button type="submit" style="border: none; background: none; cursor: pointer;">
                                <i style="font-size: 20px;" class="fa fa-heart{% if item in wish_list_products %} text-danger{% else %} text-light{% endif %}" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                    {% else %}
                    <form action="{% url 'add_wish_list' item.id %} " method="get">
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <div style="position: absolute; top: 0; left: 0; padding: 5px;">
                            <button type="submit" class="btn btn-light" style="border: none; background: none; cursor: pointer;">
                                <i style="font-size: 20px;"  class="fa fa-heart" aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                    {% endif %}
                </div>
                
                <figcaption class="info-wrap">

                <div class="fix-height" style="height: 50px;">
                    <a href="{{ item.get_url }}" class="title">{{ item.product_name }}</a>
                    <div class="price-wrap" style="margin-bottom: 0;" >
                            <span class="price " style="margin: 0;font-size: medium;">
                            
                            {% with first_variation=item.variation_set.first %}
                                {% if item.offer %}                           
                                    ${{first_variation.offer_price}}                        
                                    <del style="margin: 0;" class="price-old">  ${{first_variation.price}}</del> 
                                    <span style="margin: 0;color: rgb(11, 122, 85);font-size: small;"> {{item.offer.discount.discount}}% offer</span></span>
                                {% else %}                            
                                    <span style="margin: 0;">${{ first_variation.price }}</span>
                                {% endif %}
                            {% endwith %}   
                            
                            
                        
                                
                    </div> <!-- price-wrap.// -->
                </div>
                <div class="mb-1">
                        <span class="mb-1">
                            <i class="fa fa-star{% if item.averageReview == 0.5 %}-half-o{% elif item.averageReview < 1 %}-o {% endif %}" style="color: gold;"></i>
                            <i class="fa fa-star{% if item.averageReview == 1.5 %}-half-o{% elif item.averageReview < 2 %}-o {% endif %}" style="color: gold;"></i>
                            <i class="fa fa-star{% if item.averageReview == 2.5 %}-half-o{% elif item.averageReview < 3 %}-o {% endif %}" style="color: gold;"></i>
                            <i class="fa fa-star{% if item.averageReview == 3.5 %}-half-o{% elif item.averageReview < 4 %}-o {% endif %}" style="color: gold;"></i>                              
                            <i class="fa fa-star{% if item.averageReview == 4.5 %}-half-o{% elif item.averageReview < 5 %}-o {% endif %}" style="color: gold;"></i> 
                            </span>
                        
                </div>
                <a href="{{ item.get_url }}"  class="btn btn-block btn-primary ">View details</a>
            </figcaption>
        </figure>
            </div> <!-- col.// -->
            {% endif %}
            {% endfor %}
       
        

            
    </div> <!-- row end.// -->
    {% else %}
    <div class="row">
            
        {% for item in filter_variations %}
        
        <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
        <figure class="card card-product-grid">
            <div class="img-wrap" style="position: relative;">
                <a href="{{ item.get_url }}"><img src="{{ item.product.images.url }}"></a>
                {% if user.is_authenticated %}
                <form action="{% url 'add_wish_list' item.product.id %} " method="get">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div style="position: absolute; top: 0; left: 0; padding: 5px;">
                        <button type="submit" style="border: none; background: none; cursor: pointer;">
                            <i style="font-size: 20px;" class="fa fa-heart{% if item.product in wish_list_products %} text-danger{% else %} text-light{% endif %}" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                {% else %}
                <form action="{% url 'add_wish_list' item.product.id %} " method="get">
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <div style="position: absolute; top: 0; left: 0; padding: 5px;">
                        <button type="submit" class="btn btn-light">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                {% endif %}
            </div>
            
            <figcaption class="info-wrap">

            <div class="fix-height" style="height: 50px;">
                <a href="{{ item.get_url }}" class="title">{{ item.product.product_name }}</a>
                <div class="price-wrap" style="margin-bottom: 0;" >
                        <span class="price " style="margin: 0;font-size: medium;">
                            {% if item.product.offer %}                           
                                ${{item.offer_price}}                        
                                <del style="margin: 0;" class="price-old">  ${{item.price}}</del> 
                                <span style="margin: 0;color: rgb(11, 122, 85);font-size: small;"> {{item.product.offer.discount.discount}}% offer</span></span>
                            {% else %}                            
                                <span style="margin: 0;">${{ item.price }}</span>
                            {% endif %}
                        
                        
                        
                    
                            
                </div> <!-- price-wrap.// -->
            </div>
            <div class="mb-1">
                    <span class="mb-1">
                        <i class="fa fa-star{% if item.product.averageReview == 0.5 %}-half-o{% elif item.product.averageReview < 1 %}-o {% endif %}" style="color: gold;"></i>
                        <i class="fa fa-star{% if item.product.averageReview == 1.5 %}-half-o{% elif item.product.averageReview < 2 %}-o {% endif %}" style="color: gold;"></i>
                        <i class="fa fa-star{% if item.product.averageReview == 2.5 %}-half-o{% elif item.product.averageReview < 3 %}-o {% endif %}" style="color: gold;"></i>
                        <i class="fa fa-star{% if item.product.averageReview == 3.5 %}-half-o{% elif item.product.averageReview < 4 %}-o {% endif %}" style="color: gold;"></i>                              
                        <i class="fa fa-star{% if item.product.averageReview == 4.5 %}-half-o{% elif item.product.averageReview < 5 %}-o {% endif %}" style="color: gold;"></i> 
                        </span>
                    
            </div>
            <a href="{{ item.product.get_url }}"  class="btn btn-block btn-primary ">View details</a>
        </figcaption>
    </figure>
        </div> <!-- col.// -->
        
        {% endfor %}      
</div> <!-- row end.// -->    
    {% endif %}

    {% if not filters %}
<div class="row" style="align-items: center;">
    <div class="col"></div>
    <div class="col"><div class="pagination" style="align-items: center;">
        <span class="step-links">
            {% if products.has_previous %}
                <span style="color: red;font-size: large;"><a href="?page=1">&laquo; First </a></span><span>
                <span style="font-size: large;"><a class="text-danger" href="?page={{ products.previous_page_number }}">Previous </a></span>
            {% endif %}

            <span class="current-page" style="font-size: large;">Page{{ products.number }} of {{ products.paginator.num_pages }} </span>

            {% if products.has_next %}
                <span style="font-size: large;"><a class="text-danger" href="?page={{ products.next_page_number }}">Next </a></span>
                <span style="font-size: large;"><a href="?page={{ products.paginator.num_pages }}"> Last &raquo;</a></span>
            {% endif %}
        </span>
    </div></div>
    <div class="col"></div>
    
</div>
{% endif %}
 </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    


{% endblock %}
