<!-- invoice_template.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <!-- Add CSS styles here to format the invoice -->
    <style>
        /* Add inline CSS styles for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            border: 1px solid #000;
            padding: 8px;
            background-color: #f2f2f2;
            text-align: left;
            width: 150px;
        }
        /* Inline CSS styles for the td elements */
        td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }
       
    </style>
    <!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Add Bootstrap JavaScript (jQuery and Popper.js are required dependencies) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <h1 style="text-align: center;">INVOICE</h1>
    <div class="header" style="justify-content: space-between;display: flex;width:50;background-color: aquamarine;">

        <div class="header-left">

        </div>
        <div class="header-right" style="position: absolute;left:550px">

            <!-- Add any content you want on the right side of the header here -->
        </div>
    </div>
    <table >
        <thead>
            <tr >
                <td style="font-weight: 600;font-size: large;text-align: left;border:none;width:370px;">Invoice Number: {{ invoice_number }} <br>
                    Date: {{ invoice_date }} <br>
                    Customer: {{ customer_name }} <br>
                <br>
                <br>
                
            </td>
                <td style="font-weight: 600;font-size: large;border:none;text-align: right;width:370px;"> {{ order.first_name }} {{order.last_name}} <br>
                    {{  order.adress_line1  }} <br>
                    {{ order.adress_line2 }} <br>
                    {{ order.city }},{{ order.state }} <br>
                    {{ order.pin }}
                </td>
               
            </tr>
        </thead>
        <tbody>  
           
               
             </tbody>
        
    </table>

    <table style="text-align: center;">
        <thead>
            <tr >
                <th style="font-weight: 600;font-size: large;width: 200px;text-align: center;">Product</th>
                <th style="font-weight: 600;font-size: large;width: 200px;text-align: center;">Quantity</th>
                <th style="font-weight: 600;font-size: large;width: 200px;text-align: center;">Unit Price</th>
                <th style="font-weight: 600;font-size: large;width: 200px;text-align: center;">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}      
             
            <tr>
                <td>{{ item.product.product_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product_price }}</td>                
                <td>{{ item.total }}</td>
                
                             
            {% endfor %}
            


        </tbody>
        
    </table>

    <table >
        <thead>
            <tr >
                <td style="font-weight: 600;font-size: large;padding-right: 0;text-align: right;border:none;width:700px;">Sub Total :<br>
                    Discount : <br>
                    total :  <br>
                    Tax :<br>
                    Grand total :
                
                
                
            </td>
                <td style="font-weight: 600;font-size: large;border:none;text-align: left;width:100px;">
                   
                    
                    $ {{ total  }}  <br>                    
                    $ {{ discount|floatformat:2 }} <br>
                    $ {{ ord_det.sub_total|floatformat:2 }} <br>
                    $ {{ ord_det.tax|floatformat:2 }} <br>
                    $ {{ ord_det.grand_total|floatformat:2 }} 
                </td>
               
            </tr>
        </thead>
        <tbody>  
           
               
             </tbody>
        
    </table>

  
</body>
</html>
